@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
   2. Body
   ========================================================================== */

body{
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

.wrapper{
  max-width: 1140px;
  width: 85%; 
  margin: 0 auto;
  display: flex;
}

a{
  display: inline-block;
  text-decoration: none;
}

li{
  display: inline-block;
  list-style-type: none;
}

.btn{
  padding: 16px 16px;
  border: none;
  border-radius: 7px;
  background-color: #69AD31;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  transition: .2s ease;
}

.headline{
  padding-bottom: 12px;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: .8px;
}

/* ==========================================================================
   Header starts
   ========================================================================== */

.header{
  width: 100%;
  background-color: #363636;
}

.logo, .menu{
  display: flex;
  align-items: center;
}

.logo{
  width: 50%;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.logo a, .menu-links{
  color: #fff;
}

.menu{
  width: 50%;
  justify-content: space-between;
}

.menu-links{
  margin: 30px 0px;
  padding: 7px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: .2s ease;
}

.menu-links:hover{
  color: #69AD31;
}

/* ==========================================================================
   Header ends
   ========================================================================== */

/* ==========================================================================
   Banner starts
   ========================================================================== */

.banner{
  width: 100%;
  position: relative;
  /* background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); */
  /* background: rgba(0, 0, 0, 0.5); */
}

.banner .banner-img img{
  width: inherit;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner div.banner-img{
  width: inherit;
  background: rgba(0, 0, 0, 0.5);
}

.banner .wrapper{
  margin-top: 75px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner .wrapper .banner-headline{
  font-size: 63px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner .wrapper .banner-info{
  font-size: 22px;
  font-weight: normal;
  margin: 25px 0px 45px 0px;
}

.banner .wrapper .banner-link{
  border-top: 1.2px solid #fff;
  border-bottom: 1.2px solid #fff;
}

.banner .wrapper .banner-link:hover{
  background-color: #fff;
  color: #69AD31;
}

/* ==========================================================================
   Banner ends
   ========================================================================== */

/* ==========================================================================
   About starts
   ========================================================================== */

.about{
  width: 100%;
  position: relative;
  background-color: #F6F6F6;
}

.about .wrapper{
  padding: 120px 0px;
  justify-content: space-between;
}

.about .wrapper .left-about{
  width: 50%;
  margin-right: 18px;
}

.about .wrapper .left-about .about-headline{
  padding-bottom: 12px;
  color: #363636;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: .8px;
}

.about .wrapper .left-about .about-headline .bold-text{
 font-size: 42px;
 font-weight: bold;
 letter-spacing: 0px;
 color: #69AD31;
}

.about .wrapper .left-about .about-headline::after{
  content: '';
  width: 76px;
  margin: 15px 0px 0px 0px;
  border-bottom: 3px solid #69AD31;
  display: block;
}

.about .wrapper .left-about .about-info p{
  margin: 25px 0px;
  color: #818181;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}

.about .wrapper .left-about .about-info .about-link{
  margin: 15px 0px;
  font-size: 15px;
}

.about .wrapper .left-about .about-info .about-link:hover{
  border: 1px solid #69AD31;
  background-color: #F6F6F6;
  color: #69AD31;
}

.about .wrapper .right-about{
  width: 50%;
  margin-left: 18px;
  display: flex;
  justify-content: space-between;
}

.about .wrapper .right-about ul{
  width: 50%;
  margin: 0 15px;
}

.about .wrapper .right-about ul li{
  width: 263px;
}


.about .wrapper .right-about ul li img{
  width: inherit;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-garden-care-headline,
.about-lawn-care-headline
{
  margin: 20px 0px;
  color: #363636;
  font-size: 22px;
  font-weight: bold;
}

.about .wrapper .right-about ul .info{
  color: #818181;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

/* ==========================================================================
   About ends
   ========================================================================== */

/* ==========================================================================
   Services starts
   ========================================================================== */

  .services{
    width: 100%;
    padding: 120px 0px;
    background-color: #69AD31;
    color: #C3DEAD;
  }

  .services .wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .services .wrapper .services-headline{
    color: #fff;
  }

  .services .wrapper .services-headline::after{
    content: '';
    width: 75px;
    margin: 20px auto;
    border-bottom: 3px solid #C3DEAD;
    display: block;
  }

  .services .wrapper .services-info{
    font-size: 18px;
  }

  .services .wrapper .services-cards{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .services .wrapper .services-cards .card{
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .services .wrapper .services-cards .card ul .card-img{
    width: 70%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 10px solid #78B546;
    border-radius: 50%;
  }

  .services .wrapper .services-cards .card ul .card-title{
    margin: 20px 0px 15px 0px;
    font-size: 23px;
    color: #fff;
  }

  .services .wrapper .services-cards .card ul .card-info{
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
  }

  .lawn-care-card .card-img{
    background-image: url(../images/services/service-1.jpg);
  }

  .landscape-design-card .card-img{
    background-image: url(../images/services/service-2.jpg);
  }

  .tree-care-card .card-img{
    background-image: url(../images/services/service-3.jpg);
  }

  .Spring-fall-cleanup-card .card-img{
    background-image: url(../images/services/service-4.jpg);
  }




/* ==========================================================================
   Services ends
   ========================================================================== */

/* ==========================================================================
   Gallery starts
   ========================================================================== */

  .gallery{
    width: 100%;
    padding: 120px 0px;
    background-color: #F6F6F6;
    color: #363636;
  }

  .gallery .wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gallery .wrapper .gallery-headline{
    color: #363636;
  }

  .gallery .wrapper .gallery-headline::after{
    content: '';
    width: 75px;
    margin: 20px auto;
    border-bottom: 3px solid #69AD31;
    display: block;
  }

  .gallery .wrapper .gallery-info{
    font-size: 18px;
    margin-bottom: 30px;
  }

  .gallery .wrapper .gallery-links .btn{
    margin: 20px 10px;
    padding: 10px 14px;
    border-radius: 4px;
    background-color: #E5E5E5;
    color: #363636;
  }

  .gallery .wrapper .gallery-links .btn:not(.active):hover{
    border: 1px solid #69AD31;
    background-color: #fff;
    color: #69AD31;
  }

  .gallery .wrapper .gallery-links .active{
    background-color: #69AD31;
    color: #fff;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .projects figure {
    width: 30%;
    margin: auto;
    padding: 15.5px 0px;
  }

  .projects figure img {
    width: 103%;
  }
/* ==========================================================================
   Gallery ends
   ========================================================================== */

/* ==========================================================================
   Testimonials start
   ========================================================================== */

  .testimonials{
    width: 100%;
    padding: 120px 0px;
    background-image: linear-gradient(rgba(105, 173, 49, 0.85), rgba(105, 173, 49, 0.85)), url(../images/testimonials-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #C3DEAD;
  }

  .testimonials .wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonials .wrapper .testimonials-headline{
    color: #F6F6F6;
  }

  .testimonials .wrapper .testimonials-headline::after{
    content: '';
    width: 75px;
    margin: 20px auto;
    border-bottom: 3px solid #C3DEAD;
    display: block;
  }

  .testimonials .wrapper .slide-info{
    width: 100%;
    margin-top: 30px;
    display: none;
    text-align: center;
    line-height: 200%;
  }

  .testimonials .wrapper .slide-info .testimonials-info{
    font-size: 18px;
  }

  .hover-white {
    width: 15px;
    height: 15px;
    margin: 25px 5px 0px 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }

  .dotes span.active {
    background-color: #F6F6F6;
  }


/* ==========================================================================
   Testimonials ends
   ========================================================================== */

/* ==========================================================================
   Contact starts
   ========================================================================== */

  .contact{
    width: 100%;
    padding: 110px 0px 90px 0px;
    background-color: #F6F6F6;
    color: #363636;
  }

  .contact .wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact .wrapper .contact-headline{
    color: #363636;
  }

  .contact .wrapper .contact-headline::after{
    content: '';
    width: 75px;
    margin: 20px auto;
    border-bottom: 3px solid #69AD31;
    display: block;
  }

  .contact .wrapper .contact-info{
    font-size: 18px;
  }

  .contact .wrapper .contact-details{
    width: 100%;
    margin: 80px 0px;
    display: flex;
    justify-content: center;
  }

.contact .wrapper .contact-details ul{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact .wrapper .contact-details ul li:first-of-type{
  font-weight: bold;
  text-transform: uppercase;
}

.contact .wrapper .contact-details ul li:first-of-type::after{
  content: '';
  width: 75px;
  margin: 20px auto;
  border-bottom: 3px solid #DCDCDC;
  display: block;
}

.contact .wrapper .contact-details ul li:not(:first-of-type){
  margin: 7px 0px;
  color: #818181;
}

.contact-form-headline{
  font-size: 16px;
  letter-spacing: normal;
  text-transform: uppercase;
}

.contact-form{
  width: 64%;
}

.contact-form .name, .contact-form .mail{
  width: calc(50% - 27px);
  padding: 15px 0px 10px 15px;
  border: 1.5px solid #E1E1E1;
  border-radius: 2px;
}

.contact-form .name{
  margin: 15px 5px 15px 0px;
}

.contact-form .mail{
  margin: 15px 0px 15px 5px;
}

.contact-form textarea{
  width: 97.2%;
  padding: 20px 0px 75px 15px;
  border: 1.5px solid #E1E1E1;
  border-radius: 2px;
  margin-bottom: 10px;
}

.contact-form .name::-webkit-input-placeholder, .contact-form .mail::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.contact-form .name::-moz-placeholder, .contact-form .mail::-moz-placeholder, .contact-form textarea::-moz-placeholder{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.contact-form .name:-ms-input-placeholder, .contact-form .mail:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.contact-form .name:-moz-placeholder, .contact-form .mail:-moz-placeholder, .contact-form textarea:-moz-placeholder{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.form-submit{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.form-submit:hover{
  border: 1px solid #69AD31;
  background-color: #fff;
  color: #69AD31;
}


/* ==========================================================================
   Contact ends
   ========================================================================== */


/* ==========================================================================
   Footer starts
   ========================================================================== */

  .footer{
    width: 100%;
    padding: 50px 0px 30px 0px;
    background-color: #363636;
    color: #818181;
  }

  .footer .wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer .wrapper .icons a{
    font-size: 23px;
    border-radius: 100%;
    background: #464646;
    color: #69ad31;
  }

  .templateWire{
    color: #bbb;
  }

/* ==========================================================================
   Footer ends
   ========================================================================== */